
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="vide name" />
    <input type="text" name="description" placeholder="description" />
    
    <input type="file" name="video" />
    <input type="submit" />
</form>